<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649661458375-0sfp4af83bl491pn5c99gplnfcasg1mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649661458375-0sfp4af83bl491pn5c99gplnfcasg1mn</string>
	<key>API_KEY</key>
	<string>AIzaSyDvrwm4T7hhvsF3vX1upZlHtgo9-wmusKg</string>
	<key>GCM_SENDER_ID</key>
	<string>649661458375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igrooveag.rsnbuzebhdpoeizt</string>
	<key>PROJECT_ID</key>
	<string>fanapp-9676f</string>
	<key>STORAGE_BUCKET</key>
	<string>fanapp-9676f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649661458375:ios:cbf3351107de778f4b5be2</string>
</dict>
</plist>